<!-- HTML -->
<div class="content-area">
    <h2><%= page.subTitle %></h2>

    <table id="goal">
        <tr>
            <td id="goal_0">
                <input type="image" src=<%= page.goalImg_0 %> value=<%= page.goal_0 %>
                    height="100px"><br><%= page.goal_0 %>
            </td>
            <td id="goal_1">
                <input type="image" src=<%= page.goalImg_1 %> value=<%= page.goal_1 %>
                    height="100px"><br><%= page.goal_1 %>
            </td>
        </tr>
        <tr>
            <td id="goal_3">
                <input type="image" src=<%= page.goalImg_3 %> value=<%= page.goal_3 %>
                    height="100px"><br><%= page.goal_3 %>
            </td>
            <td id="goal_3">
                <input type="image" src=<%= page.goalImg_3 %> value=<%= page.goal_3 %>
                    height="100px"><br><%= page.goal_3 %>
            </td>
        </tr>
        <tr>
            <td id="goal_4">
                <input type="image" src=<%= page.goalImg_4 %> value=<%= page.goal_4 %>
                    height="100px"><br><%= page.goal_4 %>
            </td>
            <td id="goal_5">
                <input type="image" src=<%= page.goalImg_5 %> value=<%= page.goal_5 %>
                    height="100px"><br><%= page.goal_5 %>
            </td>
        </tr>
    </table>

</div>