<!-- unchange -->
<% var title = 'Goal'; %>
<% var subTitle = '目標を１つ選んでください'; %>
<% var goal = ['やせたい', '仕事に専念したい', '睡眠を改善したい','やせたい', '食事に気をつけたい', '●●を改善したい']; %>
<% var goalImage = ['/images/github.svg', '/images/twitter.svg', '/images/github.svg','/images/twitter.svg', '/images/github.svg', '/images/twitter.svg']; %>

<!-- change -->
<!-- なし -->

<div class="content-area">
    <h1><%= title %></h1>
    <h2><%= subTitle %></h2>

    <div id="text">コメント</div>

    <div id="goal">
        <div class="goalList">
            <div id="goal_0">
                <input type="image" src=<%= goalImage[0] %> value=<%= goal[0] %>> <%= goal[0] %>
            </div>
            <div id="goal_1">
                <input type="image" src=<%= goalImage[1] %> value=<%= goal[1] %>> <%= goal[1] %>
            </div>
        </div>
        <div class="goalList">
            <div id="goal_2">
                <input type="image" src=<%= goalImage[2] %> value=<%= goal[2] %>> <%= goal[2] %>
            </div>
            <div id="goal_3">
                <input type="image" src=<%= goalImage[3] %> value=<%= goal[3] %>> <%= goal[3] %>
            </div>
        </div>
        <div class="goalList">
            <div id="goal_4">
                <input type="image" src=<%= goalImage[4] %> value=<%= goal[4] %>> <%= goal[4] %>
            </div>
            <div id="goal_5">
                <input type="image" src=<%= goalImage[5] %> value=<%= goal[5] %>> <%= goal[5] %>
            </div>
        </div>

    </div>

</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCBJVggpI5YAKFnZNDfDhivNg5-DMUb3Uw",
        authDomain: "myakushin.firebaseapp.com",
        databaseURL: "https://myakushin.firebaseio.com",
        projectId: "myakushin",
        storageBucket: "myakushin.appspot.com",
        messagingSenderId: "537042555866"
    };
    firebase.initializeApp(config);
</script> -->

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>