<div class="content-area">
  <div class="content-area-goal">
    <h1><%= page.title %></h1>
  </div>
  <div class="content-area-goal-2">
    <h2 class="subTitle-goal"><%= page.subTitle %></h2>
    <form name="form2" id="goal-form">
      <table class="goal">
        <tr>
          <td class="goal_0">
            <input class="goalImage" type="image" name="goal0" src=<%= page.goalImg_0 %>
              value=<%= page.goal[0] %>><br><%= page.goal[0] %>
          </td>
          <td class="goal_1">
            <input class="goalImage" type="image" name="goal1" src=<%= page.goalImg_1 %>
              value=<%= page.goal[1] %>><br><%= page.goal[1] %>
          </td>
          <td class="goal_4">
            <input class="goalImage" type="image" name="goal4" src=<%= page.goalImg_4 %>
              value=<%= page.goal[4] %>><br><%= page.goal[4] %>
          </td>
          <td class="goal_3">
            <input class="goalImage" type="image" name="goal3" src=<%= page.goalImg_3 %>
              value=<%= page.goal[3] %>><br><%= page.goal[3] %>
          </td>

        </tr>
        <!-- <tr>
          <td class="goal_2">
            <input class="goalImage" type="image" name="goal2" src=<%= page.goalImg_2 %>
              value=<%= page.goal[2] %>><br><%= page.goal[2] %>
          </td>
          <td class="goal_5">
            <input class="goalImage" type="image" name="goal5" src=<%= page.goalImg_5 %>
              value=<%= page.goal[5] %>><br><%= page.goal[5] %>
          </td>
        </tr> -->
      </table>

      <!-- 現在の設定 -->
      <div id="goalButton-inside" class="goalButton" style="display:none">
        <a href="/goal-2/">
          <input class="goalButton-inside" type="button" value="現在の設定">
        </a>
      </div>
    </form>
  </div>
</div>