<% var habitName = ['water','temp','meal','alcohol','tobacco']; %>

<!-- HTML -->
<div class="content-area">
  <div class="habit-area">
    <h1><%= page.title %></h1>
    <h2><%= page.subTitle %></h2>

    <table class="habit-table">
      <tr class="habit2">
        <td><%= page.habit[0] %></td>
        <td id="habitResult0"></td>
      </tr>
      <tr class="habit2">
        <td><%= page.habit[1] %></td>
        <td id="habitResult1"></td>
      </tr>
      <tr class="habit2">
        <td><%= page.habit[2] %></td>
        <td id="habitResult2"></td>
      </tr>
      <tr class="habit2">
        <td><%= page.habit[3] %></td>
        <td id="habitResult3"></td>
      </tr>
      <tr class="habit2">
        <td><%= page.habit[4] %></td>
        <td id="habitResult4"></td>
      </tr>
    </table>
    <!-- 内容を変更・削除 -->
    <div class="habitButton">
      <input id="habitButton-delete" class="habitButton-inside" type="button" value="内容を変更・削除">
    </div>
    <!-- HOMEに戻る -->
    <div class="habitButton">
      <a href="/">
        <input class="habitButton-inside" type="button" value="HOME">
      </a>
    </div>
  </div>
</div>