<% var habitName = ['water','temp','meal','alcohol','tobacco']; %>

<!-- HTML -->
<div class="content-area">
  <div class="habit-area">
    <h1><%= page.title %></h1>
    <h2><%= page.subTitle %></h2>
    <form name="form1" id="habit-form">
      <div class="radio">
        <div><%= page.habit[0] %></div>
        <input type="radio" name="radio00" class="radio00-input" id="radio00-01" value=<%= page.habitContents_0[0] %>>
        <label for="radio00-01"><%= page.habitContents_0[0] %></label>
        <input type="radio" name="radio00" class="radio00-input" id="radio00-02" value=<%= page.habitContents_0[1] %>>
        <label for="radio00-02"><%= page.habitContents_0[1] %></label>
        <input type="radio" name="radio00" class="radio00-input" id="radio00-03" value=<%= page.habitContents_0[2] %>>
        <label for="radio00-03"><%= page.habitContents_0[2] %></label>
      </div>

      <div class="radio">
        <div><%= page.habit[1] %></div>

        <input type="radio" name="radio01" class="radio01-input" id="radio01-01" value=<%= page.habitContents_1[0] %>>
        <label for="radio01-01"><%= page.habitContents_1[0] %></label>
        <input type="radio" name="radio01" class="radio01-input" id="radio01-02" value=<%= page.habitContents_1[1] %>>
        <label for="radio01-02"><%= page.habitContents_1[1] %></label>
      </div>

      <div class="radio">
        <div><%= page.habit[2] %></div>

        <input type="radio" name="radio02" class="radio02-input" id="radio02-01" value=<%= page.habitContents_2[0] %>>
        <label for="radio02-01"><%= page.habitContents_2[0] %></label>
        <input type="radio" name="radio02" class="radio02-input" id="radio02-02" value=<%= page.habitContents_2[1] %>>
        <label for="radio02-02"><%= page.habitContents_2[1] %></label>
        <input type="radio" name="radio02" class="radio02-input" id="radio02-03" value=<%= page.habitContents_2[2] %>>
        <label for="radio02-03"><%= page.habitContents_2[2] %></label>
      </div>

      <div class="radio">
        <div><%= page.habit[3] %></div>

        <input type="radio" name="radio03" class="radio03-input" id="radio03-01" value=<%= page.habitContents_3[0] %>>
        <label for="radio03-01"><%= page.habitContents_3[0] %></label>
        <input type="radio" name="radio03" class="radio03-input" id="radio03-02" value=<%= page.habitContents_3[1] %>>
        <label for="radio03-02"><%= page.habitContents_3[1] %></label>
      </div>

      <div class="radio">
        <div><%= page.habit[4] %></div>

        <input type="radio" name="radio04" class="radio04-input" id="radio04-01" value=<%= page.habitContents_4[0] %>>
        <label for="radio04-01"><%= page.habitContents_4[0] %></label>
        <input type="radio" name="radio04" class="radio04-input" id="radio04-02" value=<%= page.habitContents_4[1] %>>
        <label for="radio04-02"><%= page.habitContents_4[1] %></label>
      </div>
      <!-- 登録ボタン -->
      <div id="habit2Button" class="habitButton">
        <input id="habitButton2-inside" class="habitButton-inside" type="submit" name="submit" value="登録">
      </div>
      <!-- 現在の設定 -->
      <div id="habitButton-inside" class="habitButton" style="display:none">
        <a href="/habit-2/">
          <input class="habitButton-inside" type="button" value="現在の設定">
        </a>
      </div>
    </form>
  </div>
</div>