<div class="content-area">
  <div class="content-area-home">
    <div>
      <h1><%= page.subTitle_0 %></h1>
      <img id="waveImg" src="" alt="" height="150">
      <p id="feature"></p>
      <p><%= page.measureTime %></p>
    </div>
  </div>

  <div class="content-area-home-2">
    <div class="checkbox01">
      <h1><%= page.subTitle_1 %></h1>

      <!-- patternごとに異なる -->
      <label>
        <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
        <div id="question0" class="checkbox01-parts"></div>
      </label>
      <label>
        <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
        <div id="question1" class="checkbox01-parts"></div>
      </label>
      <label>
        <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
        <div id="question2" class="checkbox01-parts"></div>
      </label>
      <label>
        <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
        <div id="question3" class="checkbox01-parts"></div>
      </label>
    </div>

    <div class="adviceButton">
      <a href="/advice/"><input class="adviceButton-inside" type="button" value="Adviceを見る"></a>
    </div>
  </div>

  <div class="page-main">
    <aside>
      <div>
        <img id="img" src="" alt="" height="100px">
        <p id="googleDisplayName"></p>
      </div>
      <ul>
        <li>
          <a href=<%= page.link[0] %>><%= page.linkTitle[0] %></a>
        </li>
        <li>
          <a href=<%= page.link[1] %>><%= page.linkTitle[1] %></a>
        </li>
        <li>
          <a href=<%= page.link[2] %>><input id="logoutButton" class="logoutButton" type="button"
              value=<%= page.linkTitle[2] %> onclick="signOut()" /></a>
        </li>
      </ul>
      <button class="animation-btn"><img src=<%= page.image2 %> alt=""></button>
    </aside>
  </div>

</div>