<!-- HTML -->
<div class="content-area">
    <table class="setting-table">
        <tr>
            <td rowspan="3" class="setting-table-account">
                <img id="img" src="" alt="" height="100px">
                <p id="googleDisplayName"></p>
            </td>
            <td>
                <a href=<%= page.link1 %>><%= page.linkTitle1 %></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href=<%= page.link2 %>><%= page.linkTitle2 %></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href=<%= page.link3 %>><input id="logoutButton" class="logoutButton" type="button"
                        value=<%= page.linkTitle3 %> onclick="signOut()" /></a>
            </td>
        </tr>
    </table>

</div>