<!-- unchange -->
<% var title = 'Setting'; %>
<% var subTitle = ''; %>
<% var link = ['https://shirin-kou.github.io/goal/', 'https://shirin-kou.github.io/question/', 'https://shirin-kou.github.io/login/']; %>
<% var linkTitle = ['Goal', 'Question', 'Log-out']; %>

<!-- change -->
<!-- なし -->


<!-- HTML -->
<div class="content-area">
    <h1><%= title %></h1>
    <h2><%= subTitle %></h2>

    <table>
        <tr>
            <td>
                <a href=<%= link[0] %>><%= linkTitle[0] %></a>
            </td>
            <td>
                <a href=<%= link[1] %>><%= linkTitle[1] %></a>
            </td>
            <td>
                <a href=<%= link[2] %>><%= linkTitle[2] %></a>
            </td>
        </tr>
    </table>

    <div>
        <a href=<%= link[0] %>><input type="button" value=<%= linkTitle[0] %>></a>
    </div>
    <div>
        <a href=<%= link[1] %>><input type="button" value=<%= linkTitle[1] %>></a>
    </div>
    <div>
        <a href=<%= link[2] %>><input type="button" value=<%= linkTitle[2] %>></a>
    </div>
    反映させる。<br>
    ID名と写真
</div>