<!-- unchange -->
<% var link = ['https://shirin-kou.github.io/goal/', 'https://shirin-kou.github.io/question/', 'https://shirin-kou.github.io/login/']; %>
<% var linkTitle = ['Goal', 'Question', 'Log-out']; %>

<!-- change -->
<% var GoogleAccount_picture = '/images/github.svg'; %>
<% var GoogleAccount_ID = 'GoogleAccount_ID'; %>



<!-- HTML -->
<div class="content-area">

    <div class="GoogleAccount">
        <img src=<%= GoogleAccount_picture %> alt="">
        <p><%= GoogleAccount_ID %></p>
    </div>



    <div>
        <a href="/goal/"><input type="button" value=<%= linkTitle[0] %>></a>
    </div>
    <div>
        <a href="/question/"><input type="button" value=<%= linkTitle[1] %>></a>
    </div>
    <div>
        <a href="/login/"><input type="button" value=<%= linkTitle[2] %>></a>
    </div>
</div>